.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.grid {
    display: flex;
    width: 640px;
    height: 640px;
    flex-wrap: wrap;
}

.gridItem {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid black;
}